.fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
}

.jumbotron {
  padding: 0rem 3rem !important;
  background-color: inherit !important;
}

@media only screen and (max-width: 770px) {
  .jumbotron {
    padding: 0rem 0rem !important;
    background-color: inherit !important;
}
}

.ui.huge.borderless.menu {
  height: 60px;
}

.signInButton{
  margin-top: 10px;
}